body {
    background: url('https://unsplash.com/photos/green-hills-with-forest-under-cloudy-sky-during-daytime--SO3JtE3gZo') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
