---
---

.page-header {
  background-image: url('/assets/images/background.jpg') !important;
  background: none; /* colore di fallback */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}